@mixin font($fw, $fs, $lh, $ls) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin features() {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--color-bgr-content);
  background-repeat: no-repeat;
  background-position: center;
}
