.features {
  width: 480px;
  padding: 60px 15px 30px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 45px 0;
  }
  @media screen and (min-width: 1600px) {
    width: 1600px;
    padding: 79px 200px;
  }
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.features__item {
  padding-bottom: 30px;
  @media screen and (min-width: 768px) {
    width: calc((100% - 15px * 4) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1600px) {
    width: calc((100% - 30px * 4) / 4);
    padding-bottom: 0;
  }
}

.features__headline {
  margin-bottom: 10px;
  @include font(700, 14px, 1.14, 0.03em);
  text-align: center;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.features__text {
  @include font(400, 14px, 1.71, 0.03em);
  color: var(--color-text-secondary);
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.antenna::before {
  @include features;
  background-image: url(../images/antenna.svg);
}

.clock::before {
  @include features;
  background-image: url(../images/clock.svg);
}

.diagram::before {
  @include features;
  background-image: url(../images/diagram.svg);
}

.astronaut::before {
  @include features;
  background-image: url(../images/astronaut.svg);
}
