.filters {
  width: 480px;
  padding: 60px 15px 40px;
  margin: 0 auto;
  @media screen and (min-width: 481px) {
    width: 768px;
  }
  @media screen and (min-width: 1600px) {
    padding: 94px 15px 5px;
  }
}

.filters__list {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 481px) {
    justify-content: center;
    padding-bottom: 15px;
  }
}

.filters__btn {
  height: 38px;
  @include font(500, 16px, 1.625, 0.03em);
  margin-right: 8px;
  margin-bottom: 15px;
  padding: 6px 22px;
  border-radius: 4px;
  background-color: var(--color-bgr-content);
  border: 0;
  cursor: pointer;
  transition: color 250ms var(--animating),
    background-color 250ms var(--animating);
  &:hover,
  &:focus {
    color: var(--color-white);
    background-color: var(--color-logo);
  }
}
